dist: xenial

language: cpp

compiler:
  # - gcc
  - clang

addons:
  apt:
    sources:
      - sourceline: "ppa:ubuntu-toolchain-r/test"
    packages:
      - clang-5.0
      - clang-format-5.0
      - g++-8
      - libstdc++-8-dev

before_script:
  - mkdir build
  - cd build
  - cmake ..

script:
  # - sudo ln -s /usr/bin/gcc-8 /usr/local/bin/gcc
  # - sudo ln -s /usr/bin/g++-8 /usr/local/bin/g++
  # - g++ --version
  - make VERBOSE=1
  - cd ..
  - ./run-clang-format.py -r src
